// IPHONE 5
@media only screen and (min-width: 320px) and (max-width: 568px) {

  nav {
    div {
      margin-left: 5px;
      ul {
        padding-top: 10px;
        margin-top: 30px;
        li {
          text-align: center;
          font-size: 15px;
          font-weight: bolder;
          margin-left: 0;
          a {
            padding-right: 5px;
          }
        }
      }
    }
  }

  section {
    margin-top: 30px;
    div {
      form {
        input {
          width: 100%;
        }
        textarea {
          border: 1px solid black;
          width: 100%;
        }
      }
      img {
        max-width: 90%;
        &.propertyimage {
          float: none;
          max-width: 90%;
        }
        &.profileimage {
          max-width: 70%;
        }
        &.groupUsers {
          margin-bottom: 10px;
          padding: 0;
        }
        &.userimages {
          width: 370px;
          height: auto;
          text-align: center;
          margin: 0;
          margin-top: 5px;
          padding: 0;
        }
      }
      ul {
        li {
          &.description {
            padding: 0 30px;
            padding-top: 20px;
          }
          strong {
            font-weight: 900;
          }
        }
      }
      button {
        &.search {
          padding: 7px 120px;
        }
        &.deleteproperty {
          margin-left: 20px;
        }
        &.addcomment {
          padding: 10px 0;
          width: 100%;
        }
      }
      &.map {
        margin-bottom: 0;
      }
      &.gallery {
        max-width: none;
      }
      &.propo {
        margin-left: 65px;
        padding-left: 10px;
      }
    }
    h2 {
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 30px;
    }
  }

  .app-modal-window .modal-dialog {
    width: 95%;
  }

  .area {
    text-transform: capitalize;
  }
  .crimePie {
    margin: 0;
    margin-right: 0;
    float: none;
    margin-bottom: 30px;
  }


  button {
    &.deleteimage {
      margin: 5px 0;
    }
    &.deletenote {
      padding: 5px;
    }
  }
}


// IPHONE 6
@media only screen and (min-width : 375px) and (max-width : 667px) {

}

// RECENT IPADS
@media only screen and (min-width : 768px) and (max-width : 1024px)  {

}
