.groupsNewPage {
  background-color: $brand-color;
  margin: 80px auto;
  border-radius: 25px;
  padding: 10px;
  width: 50%;
}

.userSearchResults {
  display: inline-block;
  color: $white;
}

.ChosenUsers {
  color: hotpink;
}
