.groupsNewPage {
  background-color: $brand-color;
  margin: 80px auto;
  border-radius: 25px;
  padding: 10px;
  width: 50%;
  h1 {
    padding-top: 20px;
    color: $white;
  }
}

.userSearchResults {
  display: inline-block;
  color: $white;
}

.ChosenUsers {
  color: hotpink;
}

.chosenUsersImage {
  padding: 20px;
}

.addUserImage {
  width: 30%;
  height: 80px;
}

.removeUser {
  font-size: 12px;
  text-decoration: none;
  color: white;
  display: block;
  &:hover {
    color: black;
    text-decoration: none;
  }
}
