.groupsShowPage {
  background-color: $brand-color;
  margin: 80px auto;
  border-radius: 25px;
  padding: 10px;
  width: 100%;
  h1 {
    padding: 20px;
    color: $white;
  }
  h2 {
    padding: 20px;
    color: $white;
    margin-bottom: 0;
    border-bottom: 2px solid $white;
    margin-bottom: 20px;
  }
  h3 {
    padding: 20px;
    color: $white;
  }
  .propertyImage {
    border-radius: 20px;
    border: 2px solid $white;
  }
  ul {
    li {
      color: $white;
      border: 1px solid $white;
      border-radius: 20px;
      width: 58%;
      margin: 10px auto;
      strong {
        color: $black;
        font-weight: 900;
        text-transform: uppercase;
      }
      a {
        &.number {
          color: white;
          font-size: 17px;
        }
        &:hover {
          color: black;
          text-decoration: none;
        }
      }
    }
  }
  button {
    width: 58%;
    border-radius: 20px;
    margin: 0 0 10px 0;
  }
  .description {
    font-size: 17px;
    letter-spacing: 1px;
    color: $white;
    padding: 20px;
    text-align: justify;
    display: flex;
    animation: none;
    margin: 10px;
    border: 2px solid $white;
    border-radius: 20px;
  }
  .ratingList {
    overflow: auto;
    border: 2px solid $white;
    border-radius: 20px;
    margin: 10px;
  }
  .agencyInfo {
    border: 2px solid $white;
    border-radius: 20px;
    margin: 10px;
    ul {
      li {
        width: 50%;
      }
    }
  }
  .ratings {
    margin-top: 30px;
    border: 2px solid $white;
    border-radius: 20px;
    margin: 10px;
    button {
      margin: 10px auto;
      width: 40%;
    }
  }
  .ratingBox {
    margin: 0 auto;
    width: 40%;
  }
  .overflow {
    overflow: hidden;
    border: 2px solid $white;
    border-radius: 20px;
    margin: 10px;
  }
  .addimage {
    color: $black;
    margin: 5px;
    padding: 5px 6px;
    border-radius: 20px;
    border-top: 2px solid $black;
  }
  .noteText {
    text-align: center;
    font-size: 15px;
    display: flex;
    letter-spacing: 1px;
    animation: none;
    color: $white;
    padding: 5px 0;
  }
  .addimages {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid $black;
    padding-top: 10px;
  }
  .noteHeight {
    height: 100px;
  }
  .addNotes {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid $black;
    padding-top: 10px;
  }
  .deleteimage,.smaller {
    display: inline;
    margin: 0;
    position: relative;
    padding: 5px;
    font-size: 12px;
    background-color: $white;
    border: 1px solid $black;
  }
  .addcomment {
    padding: 3px;
    font-weight: normal;
    width: 73%;
    border-radius: 20px;
  }
  textarea {
    border: 1px solid $black;
    border-radius: 10px;
    padding: 10px;
  }
  .crimePie {
    text-align: center;
  }
  .map {
    text-align: center;
    ng-map {
      height: 360px;
      margin-bottom: 20px;
    }
  }
  .close {
    color: black;
    padding: 3px;
    margin: 5px auto;
    float: none;
    font-size: 12px;
    opacity: 1;
    background-color: white;
  }
}
