#loginFormDiv {
  background-color: $brand-color;
  border-radius: 20px;
  margin: 150px auto;
  width: 60%;
  .loginHeader {
    padding-top: 10px;
    color: $white;
    letter-spacing: 2px;
    margin-bottom: 15px;
  }
  #loginForm {
    padding: 20px;
  }
  form {
    width: 100%;
    margin: auto;
    label {
      color: $white;
    }
    input {
      border-radius: 20px;
    }
  }
  button {
    width: 100%;
    margin: 15px auto;
  }
  #OR {
    color: $white;
    text-transform: uppercase;
    padding-top: 10px;
  }
}
