#registerFormDiv {
  background-color: $brand-color;
  border-radius: 20px;
  margin: 95px auto;
  width: 60%;
  .registerHeader {
    padding-top: 10px;
    color: $white;
    letter-spacing: 2px;
    margin-bottom: 15px;
  }
  #registerForm {
    padding: 10px;
  }
  button {
    width: 100%;
    // background-color: $white;
    margin: 15px auto;
  }
  #alreadyRegistered {
    padding-top: 10px;
    color: $white;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
  }
}
