section {
  padding: 0;
  margin: 0 auto;
  text-align: center;
  h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
  h3 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 10px;
  }
  div {
    h4 {
      font-size: 25px;
      text-transform: uppercase;
    }
    a {
      text-transform: uppercase;
    }
    .chart {
      &.chart-doughnut {
        &.ng-isolate-scope {
          padding: 0;
          // margin-right: 50px;
          width: 100%;
          // max-height: 300px;
        }
      }
    }
    form {
      textarea {
        width: 400px;
        height: 50px;
        outline: none;
      }
    }
    button {
      padding: 10px;
      margin: 10px 0;
      text-transform: uppercase;
      margin-top: 15px;
      font-weight: 600;
      background-color: white;
      border: 1px solid black;
      outline: none;
      border-radius: 10px;
      &:hover {
        background-color: $brand-color;
        transition: all 1.5s ease;
        outline: none;
      }
      &:active {
        outline: none;
      }
      &.edit {
        padding: 10px 25px;
      }
      &.search {
        padding: 7px 50px;
      }
      &.comment {
        padding: 5px 130px;
      }
      &.deletecomment {
        margin: 0;
        &:hover {
          background-color: rgb(255, 91, 91);
          transition: all 1.5s ease;
          outline: none;
        }
      }
      &.deleteproperty {
        margin: 0;
        // margin-top: 20px;
        &:hover {
          background-color: rgb(255, 234, 91);
          transition: all 1.5s ease;
          outline: none;
        }
      }
    }
    ul {
      li {
        button {
          padding: 5px;
          font-size: 10px;
          background-color: white;
          border: 1px solid black;
        }
        padding: 10px;
      }
    }
    .image {
      max-width: 80%;
    }
    a {
      font-size: 23px;
    }
    .listings {
      text-transform: uppercase;
    }
    img {
      &.userimage {
        max-width: 20%;
      }
      &.profileimage {
        // width: 400px;
        // border-radius: 100px;
      }
    }
  }
}
