@import 'reset';
@import 'devices';
@import 'variables';
@import 'extends';
@import 'keyframes';
@import 'navbar';
@import 'section';
@import 'forms';
@import 'loginForm';
@import 'registerForm';
@import 'usersShow';
@import 'usersEdit';
@import 'groupsNew';
@import 'groupsHome';
@import 'groupsShow';
@import 'propsIndex';
@import 'propsShow';
@import 'footer';
// @import 'groupsIndex';
// @import 'groupsEdit';

* {
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
  &:active {
    text-decoration: none;
  }
}

h1 {
  @extend .heading-styles;
}

body {
  font-family: 'Raleway', sans-serif;
}

.groupusersimages {
  text-align: center;
  float: center;
}

.container1 {
  padding-right: 200px;
  padding-left: 200px;
  margin-right: auto;
  margin-left: auto;
}

.propTile {
  text-align: center;
  margin-top: 10px;
}

.middle {
  text-align: center;
}

.inline {
  display: inline-block;
}

.bigger {
  font-size: 35px;
  opacity: 1;
  color: black;

}

.margin-bottom {
  margin-bottom: 25px;
}

.userimages {
  width: 200px;
  padding: 0;
  height: 150px;
}
